:root{
    /* Primary */
    --lightRed: rgba(255, 87, 87, 0.100);
    --lightYellow: hsla(39, 100%, 56%, 0.100);
    --lightTeal: hsla(166, 100%, 37%, 0.100);
    --lightBlue: hsl(234, 85%, 45%, 0.100);

    --red: rgb(255, 87, 87);
    --yellow: rgb(255, 176, 31);
    --teal: rgb(0, 189, 145);
    --blue: rgb(17, 37, 212);

    /* Result BG */
    --result-bg-top: #7857ff;
    --result-bg-bottom: #2e2be9;
    --result-bg-number: hsla(256, 72%, 46%, 1);
    --result-bg-number: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --darkBlue: hsla(224, 30%, 27%, 0.603);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-size: 1.8rem;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--Pale-blue);
}
h1,h2,h3{
    margin: 0 0 1rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: var(--White);
}
p{
    margin: 0;
}
.container{
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}
.lavander{
    color: var(--Light-lavender);
}
.blue{
    color: var(--Dark-gray-blue);
}
.grey{
    color: var(--darkBlue);
}
@media (min-width:768px) { 
    .model{
        height: 100vh;
        display: grid;
        place-items: center;
    }
}
.container-grid{
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    gap: 3rem;
    background-color: var(--White);
    border-radius: 3rem;
}
@media (min-width:768px) { 
    .container-grid{
        grid-template-rows: unset;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
        max-width: 45%;
    }
    .summary,
    .result{
        padding: 3rem 1rem;
    }
}
/* Result */
.result{
    text-align: center;
    background-image: linear-gradient(to bottom, #7857ff 0%, #2e2be9 100%);
    padding: 3rem 0;
    color: var(--White);
    border-radius: 0 0 3rem 3rem;
}
@media (min-width:768px) { 
    .result{
        border-radius: 3rem;
    }
}
.result-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.number-container{
    width: 12rem;
    height: 12rem;
    margin: 2rem auto;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:768px) { 
    .number-container{
        width: 20rem;
        height: 20rem;
        margin: 3rem auto;
    }
}
.number-xl{
    font-size: 5rem;
    margin: 0;
}
@media (min-width:768px) { 
    .number-xl{
        font-size: 7rem;
    }
}
.great-heading{
    font-size: 2.2rem;
}
.description{
    font-size: 1.6rem;
}
/* Summary */
.summary{
    padding-bottom: 3rem;
}
.summary-title{
    margin-bottom: 3rem;
}
.container-summary{
    width: 85%;
}
.test-flex{
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}
.test-flex:last-of-type{
    margin-bottom: 0;
}
.reaction{
    background-color: var(--lightRed);
}
.memory{
    background-color: var(--lightYellow);
}
.verbal{
    background-color: var(--lightTeal);
}
.visual{
    background-color: var(--lightBlue);
}
.test-title{
    position: relative;
    padding-left: 3rem;
}
.test-title::before{
    content: '';
    position: absolute;
    height: 4rem;
    width: 4rem;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 50%;
}
.title-reaction{
    color: var(--red);
}
.title-reaction::before{
    background-image: url(../images/icon-reaction.svg);
    
}
.title-memory{
    color: var(--yellow);
}
.title-memory::before{
    background-image: url(../images/icon-memory.svg);
    
}
.title-verbal{
    color: var(--teal);
}
.title-verbal::before{
    background-image: url(../images/icon-verbal.svg);
    
}
.title-visual{
    color: var(--blue);
}
.title-visual::before{
    background-image: url(../images/icon-visual.svg);
    
}
.link{
    background-color: var(--Dark-gray-blue);
    display: block;
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 4rem;
}
.link:hover{
    background-image: linear-gradient(to bottom, #7857ff 0%, #2e2be9 100%);
}
.attribution{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.attribution a{
    color: var(--red);
}